.info {
  background-color: #fff;
  width: 120rem;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  align-items: center;

  .headline {
    margin-bottom: 6rem;
  }

  .dots {
    display: flex;
    margin-bottom: 6rem;

    .dotPurple {
      height: 3.3rem;
      width: 3.3rem;
      border-radius: 50%;
      background-color: var(--purple-001);

      &:not(:last-child) {
        margin-left: 5rem;
      }
    }

    .dotRed {
      height: 3.3rem;
      width: 3.3rem;
      border-radius: 50%;
      background-color: var(--red-001);

      &:not(:last-child) {
        margin-left: 5rem;
      }
    }
  }

  .infoBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;

    .text {
      width: 50%;
      padding: 2rem 10rem;
    }

    .img {
      height: 24rem;
      width: 43rem;
    }
  }
}
